version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      "terraform-plugin":
        patterns:
          - "github.com/hashicorp/terraform-plugin-*"
  - package-ecosystem: "gomod"
    directory: "/tools"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      "github-actions":
        patterns:
          - "*"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Etc/UTC"
